.App {
  text-align: center;
  background-color: #F8F9FA;
  color: #262626;
}

.mainContainer {
  padding: 0px;
}

.regular-text {
  font-size: 19pt;
  color: #262626;
  margin: 0;
}

.error {
  color: rgb(238, 57, 57)
}

.city-dd-toggle {
  width: 518px;
  background-color: white;
  border: 1px solid #000000;
  color: #262626;
  text-align: left;
  padding: 20px;
}
