.App {
  text-align: center;
  background-color: #F8F9FA;
  color: #262626;
}

.header {
  font-size: xx-large;
  color: #262626;
  border-bottom: 1px solid #E6E6E6;
  background-color: #FFFFFF;
  padding-top: 10px;
}

.mainContainer {
  padding: 0px;
}

p {
  margin: 0px;
}

.regular-text {
  font-size: 19pt;
  color: #262626;
  margin-bottom: 0;
}

.error {
  color: rgb(238, 57, 57)
}

.city-dd-toggle {
  width: 518px;
  background-color: white;
  border: 1px solid #000000;
  color: #262626;
  text-align: left;
  padding: 20px;
}
