.mobile-top-bar {
	background-color: #00a5e5;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	max-height: 30px;
}

.left-section {
	display: flex;
	align-items: center;
}

.right-section {
	display: flex;
	align-items: center;
}

.right-section > * {
	margin: 5px;
}
.left-section > * {
	margin: 5px;
}

.header {
	font-size: xx-large;
	color: #262626;
	border-bottom: 1px solid #E6E6E6;
	background-color: #FFFFFF;
	padding-top: 10px;
}