.city-name > p {
    text-align: left;
    margin-bottom: "0px";
}

.weather {
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #E6E6E6;
    padding: 20px;
}
.small-light {
    font-size: 13pt;
    color: #70757A;
    margin-bottom: "0px";
}